* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
}

body {
    background-color: #191920;
    font-family: 'Trebuchet MS', Arial;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 35px;
    letter-spacing: 1px;
    margin: 20px 0;
    color: #fff;
}

form {
    margin: 20px 0;
    background-color: #fff;
    padding: 30px 25px;
    border-radius: 5px;
    overflow: hidden;
    animation: aparecer 1500ms;
}

form .inserir {
    margin-bottom: 20px;
    animation: campos 1s;
}

form .inserir label {
    font-size: 15px;
    color: #191920;
}

form .inserir input {
    width: 100%;
    display: block;
    margin-top: 8px;
    padding: 7px;
    font-size: 10px;
    color: #191920;
    border-radius: 5px;
    border: 1px solid #ccddef;
    outline-color: 191920;
}

form .btn-login {
    display: block;
    min-width: 120px;
    border: none;
    background-color: #191920;
    color: #fff;
    border-radius: 25px;
    margin: auto;
    padding: 7px;
}

.btn-login:hover {
    background-color: #4e9f3d;
    color: #fafafa;
    transition: 1s ease-in-out;
}

.esconder-form {
    animation: esconder 1s forwards;
}

/* Animação para o login aparecer suavemente e de maneira crescente */
@keyframes aparecer {
    from {
        opacity: 0;
        transform: scale(0.4);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Campos serem apresentados da esquerda para a direita */
@keyframes campos {
    from {
        transform: translateX(-35%);
    }
    to {
        transform: translateX(0%);
    }
}

/* Ação do botão para desaparecer o form */
@keyframes esconder {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}